<div data-role="page"> 
  <div data-role="header">
		<a href="/" data-ajax="false">Back</a>
    <h1>Frequently asked questions</h1>
  </div> 
  <div data-role="content">
		<h2>What is this?</h2>
		<p>Experiments into creating geotagged playlists of tracks</p>
		
		<h2>How do I create my own?</h2>
		<p>Here's how it works:</p>
		<ul>
			<li>Create a new Google Spreadsheet, e.g. <br/> <code><a href="https://spreadsheets.google.com/pub?hl=en_GB&hl=en_GB&key=0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc&output=html">https://spreadsheets.google.com/pub?hl=en_GB&hl=en_GB&key=0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc&output=html</a></code></li>
			<li>In the first worksheet, enter your content (title, description, link to audio mp3, image, latitude/longitude) for each track in the playlist</li>
			<li>In the second worksheet, describe your playlist (title, description and image)</li>
			<li>Publish the spreadsheet as a web page</li>
			<li>
				Copy the spreadsheet key (e.g. <code>0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc</code>) and then visit this page: <br/>
				<code>http://geosoundboards.heroku.com/playlists/:spreadsheet_key</code>, <br/>
				e.g. <code><a href="http://geosoundboards.heroku.com/playlists/0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc">http://geosoundboards.heroku.com/playlists/0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc</a></code></li>
			<li>Enjoy!</li>
		</ul>
  </div>
</div>