<div data-role="page"> 
  <div data-role="header">
		<h1>Geo Sound Stuff</h1>
	</div>
	<div data-role="content">
		<p>Experimenting with mobile HTML 5 geolocation and audio</p>
		<p><a href="/faqs" data-ajax="false">Frequently asked questions</a></p>
			
		<h2>Playlists</h2>
		<ul>
			<li><a href="/playlists/0Am0wZ9CftXYqdGwyd2FxeVBqWF80eVpsQTd4YURlaGc" data-ajax="false">Radiobox</a></li>
		</ul>
		
		<h2>Soundboards</h2>
		<ul>
			<li><a href="/soundboards/westwood" data-ajax="false">Westwood</a></li>
		</ul>
	</div>
</div>
